/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Montserrat-Light";
  
    src: url("../fonts/monserate/Montserrat-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/monserate/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
      url("../fonts/monserate/Montserrat-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  /* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Montserrat-ExtraBold";
  
    src: url("../fonts/monserate/Montserrat-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/monserate/Montserrat-ExtraBold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/monserate/Montserrat-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  /* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Montserrat-Bold";
  
    src: url("../fonts/monserate/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/monserate/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/monserate/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  /* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Montserrat-Medium";
  
    src: url("../fonts/monserate/Montserrat-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/monserate/Montserrat-Medium.woff") format("woff"), /* Modern Browsers */
      url("../fonts/monserate/Montserrat-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  /* font converted using font-converter.net. thank you! */
